* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container {
    display: flex;
    height: 500px;
    width: 1000px;
    background: white;
    border-radius: 15px;
}

.images {
    position: relative;
    flex-basis: 45%;
    background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position:  top 40% right -80%, top 70% right -6.5%;
}

picture {
    position: absolute;
    top: 38%;
    left: -22%;
}

.section-faq {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 100px;
}

h1 {
    padding: 0 0 15px 0;
}

.FAQs {
    position: relative;
    width: 375px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.FAQs::after {
    content: "";
    background: hsl(240, 5%, 91%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
}

.dropdown-menu {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

h1, .question {
    color: hsl(237, 12%, 33%);
}

.question {
    font-size: 15px;
    cursor: pointer;
}

.question:hover {
    color: hsl(14, 88%, 65%);
}

.dropdown-menu img {
    justify-self: right;
    cursor: pointer;
}

.answer {
    display: none;
    width: 85%;
    padding: 10px 0 0 0;
    color: hsl(240, 6%, 50%);
    font-size: 12px;
}

.question.active {
    font-weight: bold;
    color: hsl(238, 29%, 16%);
}

.answer.active {
    display: inline;
}

img.active {
    transform: rotate(180deg);
}

@media screen and (max-width: 1005px) {
    .container {
        flex-direction: column;
        height: 600px;
        max-width: 350px;
        min-width: 260px;
    }

    .images {
        flex-basis: 25%;
        background-image: url(images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: top 0 right 50%;
    }

    picture {
        width: 230px;
        top: -10%;
        left: 50%;
        margin-left: -115px;
        margin-top: -89px;
    }

    .section-faq {
        flex-basis: 50%;
        align-items: center;
        padding: 0;
    }

    .FAQs {
        width: 85%;
    }

    .dropdown-menu {
        grid-template-columns: 95% 5%;
    }
}